.post-copyright
  div
    span.copyright-label= __('copyright_title_prefix')
    = page.title
  if theme.post_copyright.author
    div
      span.copyright-label= __('copyright_author_prefix')
      = config.author
  if theme.post_copyright.created
    div
      span.copyright-label= __('copyright_date_prefix')
      = page.date.format(config.date_format)
  if theme.post_copyright.updated
    div
      span.copyright-label= __('copyright_update_prefix')
      = page.updated.format(config.date_format)
  div
    span.copyright-label= __('copyright_link_prefix')
    a(href='/' + page.path)= page.permalink
    span.copy-icon
      i.fa.fa-clipboard(data-clipboard-text=page.permalink)
  div
    span.copyright-label= __('copyright_declare_prefix')
    if theme.post_copyright.copyright_text
      != theme.post_copyright.copyright_text
    else
      != __('copyright_default_text')
br